
  
  $spacing: 1rem;
  
  $spacing-xmedium: 1.75rem;
  
  $base-line-height: 150%;
  
  $spacing-list: 0.8rem;
  
  $spacing-smaller: 0.75rem;
  
  $row-max-width: 80rem;
  
  $column-spacing: 1rem;
  
  $spacing-xlarge: 2.2rem;
  
  $spacing-xxxlarge: 4rem;
  
  $spacing-xxlarge: 3rem;
  
  $spacing-large: 2rem;
  
  $container-max-width: 100rem;
  
  $column-gutter: 2rem;
  
  $column-padding-tablet: 1.25rem;
  
  $spacing-xxsmall: 0.25rem;
  
  $spacing-small: 0.5rem;
  
  $spacing-medium: 1.5rem;
