@value font-family-brand, font-weight-normal, font-weight-medium, font-weight-bold from './tokens.module.css';

@font-face {
  font-family: font-family-brand;
  src: url('https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff2') format('woff2'), url('https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_reg-webfont.woff') format('woff');
  font-weight: font-weight-normal;
}
@font-face {
  font-family: font-family-brand;
  src: url('https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff2') format('woff2'), url('https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_med-webfont.woff') format('woff');
  font-weight: font-weight-medium;
}
@font-face {
  font-family: font-family-brand;
  src: url('https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff2') format('woff2'), url('https://cdn.otstatic.com/common/font/Brandon/Brandon_txt_bld-webfont.woff') format('woff');
  font-weight: font-weight-bold;
}
