@import './variables.module.scss';
@import './typography.module.scss';
@import './fonts.module.scss';
@import 'otkit-spacing/token.scss';
@import 'otkit-colors/token.scss';
@import 'otkit-borders/token.scss';

.link {
  color: teal;
  cursor: pointer;
}

.flex {
  display: flex;
}

.noPadding {
  padding: 0;
}

.mt0 {
  margin-top: 0;
}

.alignCenter {
  text-align: center;
}

.main-container {
  @extend %container;
  width: 640px
}

.banner {
  width: 100%;
  margin-top: $spacing-xxlarge;
}

.title {
  @extend %largeBold;
}

.subtext {
  @extend %smallRegular;
}

.subtext:first-child {
  padding-top: 0;
}

.phaseNav {
  @extend %smallRegular;
  position: sticky;
  top: calc(69px + #{$spacing-large});
  float: left;
  background: $white;
  border: 1px solid $ash-lighter;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(45, 51, 63, 0.2);
  border-radius: $border-radius-small;
  color: $ash-dark;
  width: 220px;
  margin-left: 10%;
  margin-top: $spacing-large;
}

.navItem {
  padding: $spacing-small $spacing-medium;
  cursor: pointer;
}

.active {
  background-color: $teal-lightest;
}

.phaseContainer {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-xlarge;
}

.phaseContainer img {
  margin-left: $spacing-large;
  width: 100px;
}

.phase {
  color: teal;
  cursor: pointer;
  @extend %mediumBold;
}

.phaseHeader {
  @extend %xLargeBold;
  width: 520px;
}

.content {
  margin: $spacing-large 0;
}
.phaseTitle {
  @extend %mediumBold;
}

.phaseListTitle {
  @extend %smallMedium;
}

.phaseList {
  @extend %smallRegular;
  margin: 0;
  padding-inline-start: 20px;
}

.illustration {
  margin: 0 auto;
  display: flex;
  max-width: 1026px;
}

.figma-embed {
  width: 1000px;
  height: 560px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

//PhaseBox styles

.boxContainer {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-xlarge;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  border: 1px solid transparent;
  background: $teal-lightest;
  border-radius: $border-radius-small;
  margin: $spacing-small;
  padding: $spacing-medium;
  box-sizing: border-box;
}

.box img {
  width: 100px;
}

.box:hover {
  border: 1px solid $teal;
  cursor: pointer;
}

.boxTitle {
  @extend %mediumBold;
  color: $teal;
  padding-top: $spacing-medium;
}

.boxDesc {
  @extend %smallBold;
  color: $ash-dark;
  padding-top: $spacing-small;
  text-align: center;
}

// Resource Box styles
.resource {
  width: 325px;
  border: 1px solid $ash-lighter;
  border-radius: $border-radius-small;
  padding: $spacing-medium;
  box-sizing: border-box;
  margin: $spacing-large $spacing-small $spacing-xlarge 0;
}

.resourceTitle {
  display: flex;
}

.resourceTitle svg {
  margin-right: $spacing-medium;
}

.resourceDesc {
  @extend %xSmallRegular;
  margin-top: $spacing-medium;
  margin-bottom: $spacing-xlarge;
}

.resourceLink {
  @extend %smallMedium;
  color: $teal;
}


// Quotes styles
.quote {
  @extend %xxLargeBold;
  color: $teal;
}

.quoteTitle {
  @extend %largeBold;
  color: $teal;
}

.quoteUser {
  @extend %smallRegular;
  color: $teal;
  padding-top: $spacing-medium;
  margin-bottom: $spacing-xlarge;
}

@media only screen and (max-device-width: 1023px) {
  .phaseNav {
    display: none;
  }
  .illustration, .figma-embed {
    width: 100%;
  }
}
