@value spacing-medium, spacing-large, spacing-xlarge from 'otkit-spacing/token.cssmodules.css';
@value color-primary, color-gray-primary from 'otkit-colors/token.cssmodules.css';
@value font-family from 'otkit-typography-desktop/token.cssmodules.css';

/* local variables */
@value width-two-column: 992px;
@value width-nav: 320px;
@value width-main: 640px;

body {
  font-family: font-family;
  color: color-gray-primary;
}

a {
  text-decoration: none;
  color: color-primary;
}

.two-column {
  display: flex;
  max-width: width-two-column;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  width: width-nav;
  margin: 0 spacing-medium 0 0;
}

.nav-link {
  margin-bottom: spacing-medium;
  font-weight: 500;
}

.nav-link .link-active {
  color: color-primary;
  border-bottom: 2px solid color-primary;
}

.main {
  width: width-main;
  margin: spacing-large 0 0 spacing-medium;
}

.link-secondary,
.nav-link a {
  color: color-gray-primary;
}

section {
  margin-bottom: spacing-xlarge;
}
