@import './fonts.module.scss';
@import 'otkit-colors/token.scss';
@import 'otkit-typography-desktop/token.scss';
@import 'otkit-spacing/token.scss';
@import './variables.module.scss';

body {
  font-family: $font-family;
  color: $ash-dark;
  margin: 0;
}

a {
  text-decoration: none;
  color: red;
}

h4 {
  font-weight: $xsmall-medium-font-weight;
  font-size: $xsmall-medium-font-size;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: $spacing-medium;
  color: $ash;
}

.header {
  border-bottom: 1px solid $ash-lighter;
  position: fixed;
  top: 0;
  z-index: 2;
  height: $header-height;
  width: 100%;
  background-color: $ash-dark;
  padding-left: $spacing-medium;
  display: flex;
}

.header a {
  color: white;
  display: flex;
}

.header h1 {
  display: inline-block;
  margin-left: $spacing-medium;
  line-height: 24px;
}

.header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header li {
  display: flex;
  align-items: center;
  margin: $spacing-small;
}

.header-link {
  padding: $spacing-medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: $font-weight-medium;
}

.header-link:hover {
  text-shadow: 1px 1px black;
}

.header-link-active {
  border-bottom: 2px solid white;
}

.logo {
  width: 30px;
}

.nav {
  width: $width-nav;
  padding: $spacing-medium 0 0 $spacing-xlarge;
  box-sizing: border-box;
  background-color: $ash-lightest;
  height: calc(100vh - 3.5rem + 1px);
  position: fixed;
  overflow-y: auto;
  top: calc(3.5rem - 1px);
}

.nav-link {
  margin-bottom: $spacing-medium;
  font-weight: 500;
}

.nav-link .link-active {
  color: red;
  border-bottom: 2px solid red;
}

.nav-section {
  margin: $spacing-large 0 $spacing-xlarge;
}

.main-body {
  padding-top: $header-height;
}

.main {
  padding-left: $width-nav;
}

.main-container {
  @extend %container;
}

.link-secondary,
.nav-link a {
  color: $ash-dark;
}

section {
  margin: $spacing-large 0 $spacing-xlarge;
}
