@value spacing-xsmall, spacing-small, spacing-medium, spacing-large, spacing-xlarge, xsmall-regular-font-size, xsmall-regular-font-weight, xsmall-regular-line-height, xsmall-medium-font-size, xsmall-medium-font-weight, xsmall-medium-line-height, border-radius-small from './tokens.module.css';
@value ash-lighter from 'otkit-colors/token.cssmodules.css';
@value width-main: 768px;

.section-color {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  text-align: center;
  width: 16%;
  margin-bottom: spacing-medium;
}

.main-container {
  width: width-main;
  padding-top: spacing-large;
  margin: 0 auto;
}

.color-block {
  border-radius: border-radius-small;
  padding: spacing-medium 0;
  height: calc(xsmall-medium-line-height * 2 + spacing-xsmall * 2 + xsmall-regular-line-height);
}

.color-block-border {
  composes: color-block;
  border: 1px solid ash-lighter;
}

.color-name {
  border: 1px solid ash-lighter;
  font-size: xsmall-regular-font-size;
  font-weight: xsmall-regular-font-weight;
  line-height: xsmall-regular-line-height;
  padding: spacing-xsmall;
  margin: spacing-small 0;
}

.color-hex {
  font-size: xsmall-medium-font-size;
  font-weight: xsmall-medium-font-weight;
  line-height: xsmall-medium-line-height;
  text-transform: uppercase;
}

.color-rgb {
  font-size: xsmall-regular-font-size;
  font-weight: xsmall-regular-font-weight;
  line-height: xsmall-regular-line-height;
  opacity: .7;
  margin: spacing-xsmall 0;
}
