@value spacing-medium, spacing-large from './tokens.module.css';
@value width-main: 768px;

.font-item {
  margin-bottom: spacing-medium;
}

.main-container {
  width: width-main;
  padding-top: spacing-large;
  margin: 0 auto;
}