@value spacing-xsmall, spacing-small, spacing-medium, xsmall-regular-line-height, xsmall-regular-font-size, xsmall-regular-font-weight, border-radius-small from './tokens.module.css';
@value ash-lighter from 'otkit-colors/token.cssmodules.css';

.section-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:after {
    content: "";
    width: 23%;
  }
}

.card {
  text-align: center;
  width: 23%;
  margin-bottom: spacing-medium;
}

.icon-block {
  border-radius: border-radius-small;
  padding: spacing-medium 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-name {
  border: 1px solid ash-lighter;
  font-size: xsmall-regular-font-size;
  font-weight: xsmall-regular-font-weight;
  line-height: xsmall-regular-line-height;
  padding: spacing-xsmall;
  margin: spacing-small 0;
}
