
  
  $color-gray-primary: #333333;
  
  $color-secondary-active: #FA4940;
  
  $color-secondary: #E81106;
  
  $color-gray-utility: #E1E1E1;
  
  $color-primary-disabled: rgba(249, 31, 20, 0.40);
  
  $color-gray-secondary: #717171;
  
  $color-primary: #F91F14;
  
  $color-primary-active: #FB665F;
  
  $color-secondary-disabled: rgba(216, 216, 216, 0.40);
