
  
  $color-secondary-lighter: rgba(35,123,152,0.14);
  
  $color-mustard: #FCCF44;
  
  $color-dark: #333333;
  
  $color-icecream: #72C9CA;
  
  $opacity-color: rgba(0,0,0,0.12);
  
  $color-brand-red: #DA3743;
  
  $opacity-color-dark: rgba(0,0,0,0.2);
  
  $color-light-gray: #ECECEC;
  
  $color-secondary-darker: #356273;
  
  $star-color: #FEAB6C;
  
  $color-transparent: rgba(255,255,255,0.6);
  
  $color-menu: #1E1E1E;
  
  $color-premium-access-book-modal-background: #A67AD3;
  
  $color-juneberry: #356273;
  
  $opacity-color-light: rgba(0,0,0,0.06);
  
  $color-secondary: #237B98;
  
  $color-brand-blue: #237B98;
  
  $color-macadamia: #DBD9D5;
  
  $color-light: #999999;
  
  $color-darker: #000000;
  
  $color-almond: #C4BFB9;
  
  $color-light-silver: #ACACAC;
  
  $color-cashew: #F3F2F1;
  
  $opacity-color-darker: rgba(0,0,0,0.5);
  
  $body-bg: #F7F7F7;
  
  $color-dark-gray: #878787;
  
  $opacity-color-dark-hex: #CCCCCC;
  
  $color-early-girl: #DA3743;
  
  $color-black-cherry: #811520;
  
  $color-caspian-pink: #E5656E;
  
  $color-blueberry: #60B2D0;
  
  $color-mid-gray: #CCCCCC;
  
  $color-alert: #D30303;
  
  $color-chalkboard: #333333;
  
  $color-offers-primary: #3B9568;
  
  $color-silver: #666666;
  
  $darken-percent: 10%;
  
  $color-primary-darker: #811520;
  
  $color-primary: #DA3743;
  
  $opacity-color-light-hex: #F0F0F0;
  
  $color-granite: #444444;
  
  $content-bg: #F7F7F7;
  
  $color-gifts: #AED6D7;
  
  $color-success: #75B96F;
  
  $color-logo-secondary: #FFFFFF;
  
  $opacity-color-white: rgba(255,255,255,0.3);
  
  $color-plum: #AA6286;
  
  $color-menu-link: rgba(96,178,208,0.14);
  
  $color-huckleberry: #B1D9E7;
  
  $color-pumpkin: #EF8F4D;
  
  $color-medium: #666666;
  
  $color-white: #FFFFFF;
