@value spacing-large, spacing-medium, large-bold-font-size, large-bold-font-weight, large-bold-line-height, color-gray-primary, color-gray-utility from '../../styles/tokens.module.css';

.section-header {
  font-size: large-font-size;
  font-weight: large-bold-font-weight;
  line-height: large-line-height;
  color: color-gray-primary;
  border-bottom: 1px solid color-gray-utility;
  padding-bottom: spacing-medium;
  margin: 0 0 spacing-medium 0;
  display: flex;
  justify-content: space-between;
}
