@value spacing-large, spacing-medium, large-bold-font-size, large-bold-font-weight, large-bold-line-height, xlarge-bold-font-size, xlarge-bold-font-weight, xlarge-bold-line-height from '../../styles/tokens.module.css';
@value ash-lighter, ash-dark from 'otkit-colors/token.cssmodules.css';

.section-header {
  font-size: xlarge-bold-font-size;
  font-weight: xlarge-bold-font-weight;
  line-height: xlarge-bold-line-height;
  color: ash-dark;
  margin: 0;
  flex: 1;
}

.section-header-small {
	composes: section-header;
	font-size: large-bold-font-size;
}

.section-container {
  border-bottom: 1px solid ash-lighter;
  padding-bottom: spacing-medium;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: spacing-medium;
}

.section-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}